<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Assign Drivers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="assign_drivers.css">
    </head>

    <body>


        <div id="header">
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Ryde</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Timeslots</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-xs-right p-l-1">
                    <li class="nav-item active">
                        <button class="btn btn-danger" type="submit">Log Out</button>
                    </li>
                </ul>
                <form class="form-inline pull-xs-right">
                    <input class="form-control" type="text" placeholder="Search Groups">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>
        </div>

        <div id="content">
            <hr>
            <div class="container-fluid" ng-app="myApp"> 
                <div class="container" ng-controller="ctrlDualList">
                    <div class="row">
                        <div class="col-md-12 text-center"><h3>Assign Drivers Pick List</h3></div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="list-group" id="list1" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, bToA)">
                                <a href="javascript:;" class="list-group-item active">Event 1 (April 4, 2016): 8P.M.-11P.M.
                                    <input title="Toggle all" ng-click="toggleA()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right"></a>
                                <span ng-repeat="user in listA">
                                    <a href="javascript:;" data-id="{{user.id}}" x-lvl-draggable="true" class="list-group-item">{{user.firstName}}
                                        <small class="text-muted"><em>{{user.role}}</em></small>                    
                                        <input id="{{user.id}}" ng-click="selectedA.push(user.id)" name="selectedA[]" value="{{user.id}}" ng-checked="selectedA.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                                    </a>
                                </span>
                            </div>
                        </div><!--/col-4-->
                        <div class="col-md-2 v-center text-center">
                            <div class="btn-group">
                                <button title="Send to list 1" class="btn btn-default" ng-click="bToA()" id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                <button title="Send to list 2" class="btn btn-default" ng-click="aToB()" id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
                            </div>
                            <h6 class="text-center">move from list-to-list</h6>
                        </div><!--/col-2-->
                        <div class="col-sm-4">
                            <div class="list-group" id="list2" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, aToB)">
                                <a href="javascript:;" class="list-group-item active">Available Drivers
                                    <input title="Toggle all" ng-click="toggleB()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right">
                                </a>
                                <span ng-repeat="user in listB">
                                    <a href="javascript:;" data-id="{{user.id}}" class="list-group-item" x-lvl-draggable="true">{{user.firstName}}
                                        <small class="text-muted"><em>{{user.role}}</em></small>
                                        <input id="{{user.id}}" ng-click="selectedB.push(user.id)" name="selectedB[]" value="{{user.id}}" ng-checked="selectedB.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                                    </a>
                                </span>
                            </div>
                        </div><!--/col-4-->
                    </div><!--/row-->
                </div><!--/container-->

                <hr> 

            </div><!--/container-fluid-->




        </div>

        <div id="footer">
            <nav class="navbar navbar-light navbar-bottom bg-faded">
                <ul class="nav navbar-nav pull-xs-left">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/">
                            <img title="Facebook" alt="Facebook" src="./img/Facebook.png" width="35" height="35" class="img-circle"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/">
                            <img title="Twitter" alt="Twitter" src="./img/Twitter.png" width="35" height="35" class="img-circle"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com">
                            <img title="Instagram" alt="RSS" src="./img/Instagram.png" width="35" height="35" class="img-circle"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/">
                            <img title="LinkedIn" alt="LinkedIn" src="./img/LinkedIn.png" width="35" height="35" class="img-circle"/>
                        </a>
                    </li>
                </ul>

                <p class="text-xs-center font-italic"> Copyright Ryde 2016</p>

                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>

            </nav>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script type="text/javascript" src="assign_drivers.js"></script>
    </body>


</html>
