/**
 * custom layout
 */


/* sizes */
#main-wrap > div { min-height: 450px; }


/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#page-content.Splash{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
    padding-bottom: 50px;
}

#first-column.Home{
    float: left;
    width: 50%;
    text-align: center;
}

#second-column.Home{
    float: right;
    width: 50%;
    text-align: center;
}  

#page-content.Profile{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
}

#first-column.ViewGroup{
    float: left;
    width: 50%;
    padding-left: 25%;
    padding-bottom: 30px;
    text-align: center;
    
}

#second-column.ViewGroup{
    float: right;
    width: 20%;
    padding-top: 8%;
    padding-right: 2%;
    text-align: left;
}  

.ViewGroupElements {
    padding-top: 20px;
}

#first-column.Timeslot{
    float: left;
    width: 50%;
    padding-left: 25%;
    padding-bottom: 30px;
    text-align: center;
    
}

#second-column.Timeslot{
    float: right;
    width: 20%;
    text-align: center;
} 
