/**
 * custom layout
 */


/* sizes */
#main-wrap > div { min-height: 450px; }


/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#page-content.Splash{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
    padding-bottom: 50px;
}

#first-column.Home{
    width: 90%;
    padding-left: 5%;
    text-align: center;
}

#second-column.Home{
    float: right;
    width: 50%;
    text-align: center;
}  

#page-content.Profile{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
}

#page-content.ViewGroup{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
}

#buttons.wrapper {

}

#buttons.ViewGroup{
    text-align: center;
}  

.ViewGroupElements {
    padding-top: 20px;
}

#page.Timeslot{
    float: left;
    padding-left: 20px;
}
